<div class="grid p-fluid">
    <div class="col-3">
        <p-listbox [options]="jobsTransaction" [listStyle]="{ height: '43rem' }" (onChange)="onChange($event)">
            <p-header>Denied Jobs</p-header>
            <ng-template let-jobsTransaction pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-italic font-bold">{{ jobsTransaction.user.fullname }}</span>
                        <span class="font-medium">{{ jobsTransaction.job.title }}</span>
                        <div class="flex align-items-center gap-2 font-medium">
                            <span>{{ jobsTransaction.job.companyName }}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-listbox>
    </div>
    <div class="col-9">
        <div class="card">
            <p-scrollPanel class="job detail" [style]="{ height:'42rem' }">
                <div *ngIf="isFirstCall;else other_content">
                    <p-image src="assets/demo/images/jobs/jobs.jpg" alt="Image" width="95%">></p-image>
                </div>
                <ng-template #other_content>
                    <h3 style="color:darkblue;">{{selectedUserName}}</h3>
                    <div class="flex justify-content-left gap-2 align-items-center" style="margin-bottom: 10px">
                        <i class="pi pi-inbox"></i>
                        <span style="color:darkblue;">{{selectedUserEmail}}</span>
                        <i class="pi pi-phone"></i>
                        <span style="color:darkblue;">{{selectedUserMobilPhone}}</span>
                    </div>
                    <h3 style="color:darkblue;">{{selectedJobName}}</h3>
                    <div class="flex justify-content-left gap-2 align-items-center">
                        <i class="pi pi-building"></i>
                        <span style="color:darkblue;">{{selectedJobCompany}}</span>
                    </div>
                    <h5 style="color:darkblue;">About the Job</h5>
                    <p>
                        {{selectedJobDescription}}
                    </p>
                </ng-template>
            </p-scrollPanel>
        </div>
    </div>
</div>

