<h4>Professional Info :</h4>
<br/>
<br/>
<div class="grid p-fluid">
    <div class="col-12 mb-6 lg:col-6 lg:mb-0">
        <span class="p-float-label">
            <input id="maximumTravelTime" type="text" pInputText style="width: 100%;" [(ngModel)]="professionalInfo.maximumTravelTime">
            <label for="maximumTravelTime">Maximum Travel Time(Hour)</label>
        </span>
    </div>
    <div class="col-12 mb-6 lg:col-6 lg:mb-0">
        <span class="p-float-label">
            <input type="text" id="noticePeriodDays" pInputText style="width: 100%;" [(ngModel)]="professionalInfo.noticePeriodDays">
            <label for="noticePeriodDays">Notice Period(Day)</label>
        </span>
    </div>
    <div class="col-12 mb-6 lg:col-6 lg:mb-0">
        <p-multiSelect
            [options]="cities"
            placeholder="Job locations"
            class="multiselect-custom"
            display="chip"
            [(ngModel)]="professionalInfo.jobLocations">
            <ng-template let-cities pTemplate="item">
                <div class="flex align-items-center">
                    <span class="ml-2">{{cities}}</span>
                </div>
            </ng-template>
        </p-multiSelect>
    </div>
    <div class="col-12 mb-6 lg:col-6 lg:mb-0">
        <span class="p-float-label">
            <input type="text" id="expectedSalary" pInputText style="width: 100%;" [(ngModel)]="professionalInfo.expectedSalary">
            <label for="expectedSalary">Expected Salary</label>
        </span>
    </div>
    <div class="col-12 mb-12 lg:col-12 lg:mb-0">
        <span class="p-float-label">
            <textarea id="professionalKnowledge" rows="3" cols="30" pInputTextarea [(ngModel)]="professionalInfo.professionalKnowledge"></textarea>
            <label for="professionalKnowledge">Professional Knowledge</label>
        </span>
    </div>
    <div class="col-12 mb-6 lg:col-6 lg:mb-0">
        <h5>Job type: </h5>
        <p-selectButton [options]="paymentOptions" [multiple]="true" [(ngModel)]="professionalInfo.jobTypes"></p-selectButton>
    </div>
    <div class="col-12 mb-6 lg:col-6 lg:mb-0">
        <div class="row"></div>
        <h5></h5>
        <br/>
        <div class="field-checkbox">
            <p-checkbox binary="true" id="ny" [(ngModel)]="professionalInfo.ga"></p-checkbox>
            <label for="ny">G. A.</label>
        </div>
    </div>
</div>

<br/>

<div class="grid formgrid">
    <div class="col-3 md:col-3">
        <br/>
        <p-multiSelect
            [options]="driverLicenseCategories"
            placeholder="Driver's licence"
            class="multiselect-custom"
            display="chip"
            [(ngModel)]="professionalInfo.driversLicenseCategory">
            <ng-template let-cities pTemplate="item">
                <div class="flex align-items-center">
                    <span class="ml-2">{{cities}}</span>
                </div>
            </ng-template>
        </p-multiSelect>
    </div>
</div>
