<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome to Permitta AG</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <div>
                    <!-- Add [(ngModel)]="email" to the profile below -->
                    <div>
                        <span class="p-float-label">
                            <input id="email1" type="text" [(ngModel)]="email" pInputText class="w-full md:w-30rem mb-4" style="padding:1rem">
                            <label for="email1">Email address</label>
                        </span>
                    </div>
                    <div>
                        <span class="p-float-label">
                            <p-password id="password1" [(ngModel)]="password"  [toggleMask]="true" styleClass="mb-4" inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
                            <label for="password1">Password</label>
                        </span>
                    </div>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label>Remember me</label>
                        </div>
                        <p-button label="Forgot password?" styleClass="p-button-link" [routerLink]="['/auth/login']"></p-button>
                    </div>
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>
                    <button pButton pRipple label="Sign In" (click)="onSubmit()" class="w-full p-3 text-xl"></button>
                    <div class="text-center">
                        <p-button label="Don't have an account? Sign up" styleClass="p-button-link" [routerLink]="[environment.registerPage]"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
